<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Change Password</h1>

    <div class="alert alert-danger" role="alert" hidden id="validationDiv">
        <p id="validationMessage"></p>
    </div>

    <form action="/staff/change-password" method="post" onsubmit="return changePasswordFormValidation()">
        <div class="form-group">
            <label for="staffNewPassword">New Password</label>
            <input type="password" name="staffNewPassword" id="staffNewPassword" class="form-control" placeholder="New Password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
        <br>
        <a href="/staff-dashboard">Back to Staff Dashboard</a>
    </form>
    <script>
        function changePasswordFormValidation(){
            let changePasswordInput = document.getElementById("staffNewPassword");
            if(changePasswordInput.includes("$") || changePasswordInput.includes("{") || changePasswordInput.toLowerCase().includes("<script") || changePasswordInput.includes("onError") || changePasswordInput.toLowerCase().includes("<img") || changePasswordInput.toLowerCase().includes("alert")){
                document.getElementById("validationDiv").removeAttribute("hidden");
                document.getElementById("validationMessage").innerHTML = "XSS or SQL attempt detected in the change password field. Please remove the characters: $ and {. Also, remove any html tags and javascript code from your input.";
                return false;
            }else{
                return true;
            }
        }
    </script>
</body>
</html>