<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Forgot Password</h1>

    <div class="alert alert-danger" id="validationDiv" hidden>
        <p id="validationMessage"> </p>
    </div>

    <form action="/forgotten-password" method="post" onsubmit="return forgottenPasswordValidation()">
        <div class="form-group">
            <label for="staffEmail">Email</label>
            <input type="email" name="staffEmail" id="staffEmail" class="form-control" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-primary">Forgotten Password</button>
        <br>
        <a href="/staff-home">Back to Staff Home</a>
    </form>

    <script>
        function forgottenPasswordValidation(){
            let staffEmailInput = document.getElementById("staffEmail").value;
            if(staffEmailInput.includes("$") || staffEmailInput.includes("{") || staffEmailInput.toLowerCase().includes("<script") || staffEmailInput.includes("onError") || staffEmailInput.toLowerCase().includes("<img") || staffEmailInput.toLowerCase().includes("alert")){
                document.getElementById("validationDiv").removeAttribute("hidden");
                document.getElementById("validationMessage").innerHTML = "XSS or SQL attempt detected in the forgotten password field. Please remove the characters: $ and {. Also, remove any html tags and javascript code from your input.";
                return false;
            }else{
                return true;
            }
        }
    </script>
</body>
</html>