<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Staff Login</h1>

    <div class="alert alert-warning" role="alert" id="validationDiv" hidden>
        <p id="validationMessage"></p>
    </div>

    <form action="/login" method="post" id="staffLogin" onsubmit="return loginFormValidation()">
        <div class="form-group">
            <label for="staffEmail">Email</label>
            <input type="email" name="staffEmail" id="staffEmail" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="staffPassword">Password</label>
            <input type="password" name="staffPassword" id="staffPassword" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
            <a href="/staff-home">Back to Staff Home</a>
        </div>
    </form>

    <script>
        function loginFormValidation(){
            let staffEmailInput = document.getElementById("staffEmail");
            let staffPasswordInput = document.getElementById("staffPassword");

            if(staffEmailInput.includes("$") || staffEmailInput.includes("{") || staffEmailInput.toLowerCase().includes("<script") || staffEmailInput.includes("onError") || staffEmailInput.toLowerCase().includes("<img") || staffEmailInput.toLowerCase().includes("alert")){
                document.getElementById("validationDiv").removeAttribute("hidden");
                document.getElementById("validationMessage").innerHTML = "XSS or SQL attempt detected in the email field. Please remove the characters: $ and {. An remove any html tags and javascript code from your input.";
                return false;
            }else if(staffPasswordInput.includes("$") || staffPasswordInput.includes("{") || staffPasswordInput.toLowerCase().includes("<script") || staffPasswordInput.includes("onError") || staffPasswordInput.toLowerCase().includes("<img") || staffPasswordInput.toLowerCase().includes("alert")){
                document.getElementById("validationDiv").removeAttribute("hidden");
                document.getElementById("validationMessage").innerHTML = "XSS or SQL attempt detected in the password field. Please remove the characters: $ and {. An remove any html tags and javascript code from your input.";
                return false;
            }else{
                return true;
            }
        }
    </script>
</body>
</html>