<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Staff Home</h1>
    
    <!-- code adapted from example given in: -->
    <!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
    <!-- *****code start*****  -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <p href="/staff-home" class="navbar-brand">Staff Home</p>
            </div>
            <ul class="nav">
                <li class="nav-item"><a href="/login" class="link-primary nav-link">Login</a></li>
                <li class="nav-item"><a href="/register" class="link-primary nav-link">Register</a></li>
                <li class="nav-item"><a href="/forgotten-password" class="link-primary nav-link">Forgotten Password</a></li>
            </ul>
        </div>
    </nav>
    <!-- *****code end***** -->
</body>
</html>