<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Projects</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Your Projects</h1>
    <div class="container">
        <% for(let i = 0; i < Projects.length; i++){ %>

            <div class="card bg-light project-card">
                <div class="card-header"><h2 class="project-name"><%= Projects[i].projectName %></h2></div>
                <div class="card-body">
                    <p><%= Projects[i].projectDescription %></p>
                    <form action="/staff/projects" method="post">
                        <input type="text" hidden name="projectId" value=<%= Projects[i].projectId %>>
                        <button class="btn btn-primary" type="submit">Select Project</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>