<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Usecases</h1>
    <!-- allow the user to select a usecase -->
    <% for (let i = 0; i < usecases.length; i++){ %>
        <hr>
        <h1>Usecase <%= i + 1%></h1>
        <form method="post" action="/student/projects/usecases">
            <input type="hidden" name="usecaseId" value=<%= usecases[i].usecaseId %>>
            <input type="hidden" name="projectId" value=<%= projectId %>>
            <button type="submit" class="btn btn-primary">Run code against Usecase <%= i + 1%></button>
        </form>
        <hr>
    <% } %>
</body>
</html>